<div class="center">
  <%= image_tag @user.avatar.url if @user.avatar? %>
</div>
<div class="center" id="username">
  <% if @user == current_user %>
  <%= link_to @user.username, current_user %>
  <% end %>
</div>
