<div class="center">
  <% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
  <% else %>
  <%= image_tag "default.jpg" %>
  <% end %>
</div>
<div class="center" id="username">
  <% if @user == current_user %>
  <%= link_to @user.username, current_user %>
  <% end %>
</div>
<div class="center" id="profile">
  <%= @user.profile %>
</div>
