<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'user_info' %>
    </section>
    <section class="stats">
      <%= render 'stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'micropost_form' %>
    </section>
  </aside>
  <div class="col-md-9">
    <h3>Micropost Feed</h3>
    <%= render 'feed' %>
  </div>
</div>
