<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスは　<%= @resource.unconfirmed_email %>　に変更されています。</p>
<% else %>
  <p>あなたのメールアドレスは　<%= @resource.email %>　に変更されました。</p>
<% end %>
