<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するリクエストが送られました。下のリンクからパスワードを変更してください。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、あなたがパスワードの変更をリクエストしていない場合、このメールは無視してください。</p>
<p>あなたが上のリンクからパスワードを変更しない限り、パスワードは変更されません。</p>
