<header>
  <nav class="navbar navbar-dark bg-dark .fixed-top">
    <% if user_signed_in? %>
      <%= link_to "Study App", '/', id: "logo" %>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>
